doctype
html
    head
        title="A story of our idea of an object"
        link(rel="stylesheet", href="css/story.css")

    body

        .story-wrapper
            article
                h1 The story of an Object's essence
                p.
                    Some believe that the world is composed out of basic units.
                    Perhaps all things derive from circles. The basic shape of unity.<sup><a href="#fn1" id="ref1">[1]</a></sup>

                .image-grid
                    each image in imagesOne
                        div
                            img(src=image)
                
                p.
                    As time progressed, so has the complexity of our perceptions, of our meaning-making…

                .image-grid
                    each image in imagesTwo
                        div
                            img(src=image)
                
                p.
                    We soon began to give things names, to differentiate them from one another.

                .image-grid
                    each image in imagesThree
                        div
                            img(src=image)

                p.
                    By naming things in relation to one another, we were able to draw comparisons between them.<sup><a href="#fn2" id="ref2">[2]</a></sup>
                    What is it, that makes one thing, in essence, different from another?
                    And what makes them similar? When can we begin to talk about Haecceity? Or typology? Taxonomy?

                .image-grid
                    each image in imagesFour
                        div
                            img(src=image)

                p.
                    You responded to the prompts, it was your own interpretation of the words, matched to your intimate mental concepts,
                    that produced the drawings that respond to them.
                    The whole process of interpretation was based on your prior knowledge and understanding.

                p.
                    We may order our artefacts into typologies based on the degree of similarity between them…
                    Constant comparison, labelling, categorising, ordering…
                    We may also classify them into a taxonomy, an archival structure, where they will be immobilised by a cryptogram of categories and classification codes.

                .image--big
                    img(src="images/page/classification.png")

                p.
                    So long as there is a small group of people, with their own values and perceptions, it is impossible to say
                    that the archive is an institution of objectivity, of archival justice. Archives contain and sustain.
                    But they cannot be objective, by definition. When meaning is relative, so is classification.

                p.
                    Of course, the whole process is relative.
                    Meaning-making, as most things in the natural world, does not happen in precisely delineated, ordered steps.
                    Stone Age, Bronze Age, Iron Age… we love to delineate things, group them together, and classify them.
                    It helps to make sense of the world. We have also deployed machines that do a lot of the heavy lifting for us, with their own problems.<sup><a href="#fn3" id="ref3">[3]</a>,<a href="#fn4" id="ref4">[4]</a></sup>

                .image-grid
                    each image in imagesFive
                        div
                            img(src=image)
                
                p.
                    The further we layer the complexity of the meaning of our object, the bigger the variations will likely become.
                    The more possible interpretations the descriptor can have, the more possible answers will appear.
                    The less specified, constrained by syntax, and structurally deterministic a prompt is,
                    the more leeway there is for the cracks between the grid to show, and for novel meanings, interpretations, to slip past and realise themselves.
                
                p.
                    Once semantic richness has been added to the mix, instilled with sprawling associative lines between signifier and signified, the semiotic chain grows and expands.
                    A whole new world of possibilities for sorting and classification opens up.

                .image-grid
                    each image in imagesSix
                        div
                            img(src=image)

                p.
                    No group exists that was once not a disparate array of individual items.
                    A badge itself is a fascinating collection of signs assembled together.

                p.
                    It is a combination of earthly resources… 

                <pre><code>Preformatted block.
                | And this
                | And this
                </code></pre>
                
                p.
                    An explosion of semantic meaning… 
                
                p.
                    It is the final step of a production process, an extension of the wearer’s identity, a mix of representative and conceptual…
                    By now, everything has gained a layered meaning.

                .image-grid
                    each image in imagesSeven
                        div
                            img(src=image)

                p.
                    The message encoded in the badge is historicised. It has changed over time, and will continue to do so. 

                p.
                    Perhaps we can rejoice in the fact that we are looking at this badge at the same time,
                    and might ascribe a similar meaning to it, than with a century of time inbetween us.
                    This meaning might change soon. But for now, we may relax and look at the badge.

                .image--big
                    img(src="images/page/badge.jpeg")
  
                hr
                footer
                    ul.footnotes
                        li
                            <sup id="fn1">1. [Text of footnote 1]<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>
                        li
                            <sup id="fn2">2. [Text of footnote 2]<a href="#ref1" title="Jump back to footnote 2 in the text.">↩</a></sup>
                        li
                            <sup id="fn2">3. [Text of footnote 3]<a href="#ref1" title="Jump back to footnote 3 in the text.">↩</a></sup>
                        li
                            <sup id="fn2">4. [Text of footnote 4]<a href="#ref1" title="Jump back to footnote 4 in the text.">↩</a></sup>




