doctype
html
    head
        title="A story of our idea of an object"
        link(rel="stylesheet", href="css/story.css")

    body

        .story-wrapper
            article
                header
                    h1 The story of an Object's essence
                    p.tagline Conducted on 18 May, 2020.
                    p.tagline This story is part of <a href="https://github.com/dmnkvd/Archive-Transcoding-Tools">a bigger project</a>.
                    hr

                p.first.
                    Some believe that the world is composed out of basic units.
                    Perhaps all things derive from circles. It is the first shape children draw. The basic shape of divine unity.<sup><a href="#fn1" id="ref1">[1]</a></sup>

                .image-grid
                    each image in imagesOne
                        div
                            img(src=image)
                
                p.
                    As time progressed, so has the complexity of our perceptions, of our meaning-making…

                .image-grid
                    each image in imagesTwo
                        div
                            img(src=image)
                
                p.
                    We soon began to give things names, to differentiate them from one another.
                    In English, a round circular metallic object, which may be pinned onto clothing, has been arbitrarily given the name "pin-badge".

                .image-grid
                    each image in imagesThree
                        div
                            img(src=image)

                p.
                    By naming things in relation to one another, we were able to draw comparisons between them.<sup><a href="#fn2" id="ref2">[2]</a></sup>
                    What is it, that makes one thing, in essence, different from another? And what makes them similar?
                    When can we begin to talk about Haecceity? Or typology? Taxonomy?

                .image-grid
                    each image in imagesFour
                        div
                            img(src=image)

                p.
                    You responded to the prompts, it was your own interpretation of the words, matched to your intimate mental concepts,
                    that produced the drawings that respond to them.
                    The whole process of interpretation was based on your prior knowledge and understanding.

                p.
                    We may order our artefacts into typologies based on the degree of similarity between them…
                    Constant comparison, labelling, categorising, ordering…
                    We may also classify them into a taxonomy, an archival structure, where they will be immobilised by a cryptogram of categories and classification codes.

                .image--big
                    img(src="images/page/classification.png")

                p.
                    So long as there is a small group of people, with their own values and perceptions, it is impossible to say
                    that the archive is an institution of objectivity, of archival justice. Archives contain and sustain.
                    But they cannot be objective, by definition. When meaning is relative, so is classification.

                p.
                    Of course, the whole process is relative.
                    Meaning-making, as most things in the natural world, does not happen in precisely delineated, ordered steps.
                    Stone Age, Bronze Age, Iron Age… we love to delineate things, group them together, and classify them.
                    It helps to make sense of the world. We have also deployed machines that do a lot of the heavy lifting for us, with their own problems.<sup><a href="#fn3" id="ref3">[3]</a>,<a href="#fn4" id="ref4">[4]</a></sup>

                .image-grid
                    each image in imagesFive
                        div
                            img(src=image)
                
                p.
                    The further we layer the complexity of the meaning of our object, the bigger the variations will likely become.
                    The more possible interpretations the descriptor can have, the more possible answers will appear.
                    The less specified, constrained by syntax, and structurally deterministic a prompt is,
                    the more leeway there is for the cracks between the grid to show, and for novel meanings, interpretations, to slip past and realise themselves.
                
                p.
                    Once semantic richness has been added to the mix, instilled with sprawling associative lines between signifier and signified, the semiotic chain grows and expands.
                    A whole new world of possibilities for sorting and classification opens up.

                .image-grid
                    each image in imagesSix
                        div
                            img(src=image)

                p.
                    No group exists that was once not a disparate array of individual items.
                    A badge itself is a fascinating collection of signs assembled together.

                p.
                    It is a combination of earthly resources… 

                pre
                    code.
                        Aluminum, magnesium 0.25 to 0.6%, copper 0.25 to 0.6%, iron 0.5 to 1.5%, silicon 11 to 13.5%, chromium 0.25 to 0.4%,
                        a maximum of 3% zinc, a maximum of 0.5% manganese and a maximum of 0.2% of each of titanium, nickel, tin and lead.

                        **Aluminum Alloy.**

                        Balsam Fir.

                        Wood Fibers.

                        Cellulose ((C6H10O5)n.).

                        +

                        Clay (aluminum silicate).

                        T[itanium dioxide](https://www.britannica.com/science/titanium-dioxide) (TiO2).

                        [Calcium carbonate](https://www.britannica.com/science/calcium-carbonate) (CaCO3) [carbon dioxide](https://www.britannica.com/science/carbon-dioxide) (CO2), sodium carbonate,( Na2CO3).

                        Cationic starch.

                        **Paper.**

                        Vinyl chloride-vinyl acetate copolymer, a polymeric amide, 2-methoxy-1-methylethyl acetate, N-butyl acetate, butan-2-OL, petroleum distillate, disperse and/or solvent dyes, propylene glycol and one or more acetates.

                        **Sublimation Ink.**

                        Polyvinyl chloride ( PVC ).

                        **Plastic.** 

                        Disc made of Aluminium Alloy. 

                        Bearing with pin, made of Aluminum Alloy.

                        Paper, cut into a 3.8mm circular disc.

                        Plastic sheet, cut into a 4.0mm circular disc.

                        **Sublimation Ink.**

                        **[Plastic sheet]**, heat-formed over **[paper with dye applied to it]**, impressed over **[stamped disc, made of aluminium alloy]**.

                        **A badge.**
                
                p.
                    An explosion of semantic meaning… 
                
                pre
                    code.
                        badgeSemantics = {
                            'A',
                            'pink': {
                                'denotation': {
                                    '#DA9BB0'
                                }
                                'connotation': {
                                    'gentle',
                                    'flesh',
                                    'skin',
                                    'personal'
                                }
                            },
                            'metallic badge': {
                                'metallic'; {
                                    'denotation': {
                                        'made of metal'
                                    }
                                    'connotation': {
                                        'sturdy'
                                        'permanent'
                                    }
                                }
                                'badge' {
                                    'circular object': {
                                        'circle'
                                        'round'
                                    },
                                    'accessory': {
                                        'worn',
                                        'identity',
                                        'identification',
                                        'social cause',
                                        'subculture',
                                        'belonging'
                                    }
                                }
                            },
                            'with'
                            'capitalised black English text:': {
                                'capitalised': {
                                    'important',
                                    'loud',
                                    'significant',
                                    'public'
                                }
                                
                                'black': {
                                    'denotation': {
                                        '#0D0D0D'
                                    }
                                    'connotation': {
                                        'serious'
                                    }
                                },
                                'English text': {
                                    'English' : {
                                        'Language'
                                    }
                                    'text': {
                                        'typeface': 
                                            'DIN': {
                                                'denotation': {
                                                }
                                                'connotation': {
                                                    'official',
                                                    'serious',
                                                    'rigid',
                                                    'commanding',
                                                    'imperative'
                                                }
                                            }
                                        'line': {
                                            'word': {
                                                'letter': 'P',
                                                'letter': 'E',
                                                'letter': 'A',
                                                'letter': 'C',
                                                'letter': 'E'
                                            }
                                        },
                                        'line': {
                                            'word': {
                                                'letter': 'I',
                                                'letter': 'N'
                                            }
                                            'word': {
                                                'letter': 'T',
                                                'letter': 'H',
                                                'letter': 'E'
                                            }
                                        },
                                        'line': {
                                            'word': {
                                                'letter':'B',
                                                'letter':'A',
                                                'letter':'L',
                                                'letter':'K',
                                                'letter':'A',
                                                'letter':'N',
                                                'letter':'S'
                                            }
                                        }
                                    }
                                };
                            }
                            '"PEACE IN THE BALKANS".': {
                                'denotation': {
                                    'Sentence': {
                                        'Noun Phrase': {
                                            'PEACE': {
                                                'connotation' : {
                                                    'ceasefire',
                                                    'stop of violence'
                                                }
                                            }
                                        }
                                        'Preposition Phrase': {
                                            'Preposition': {
                                                'IN'
                                            }
                                            'Noun Phrase': {
                                                'Determiner': {
                                                    'THE'
                                                }
                                                'Noun': {
                                                    'BALKANS': {
                                                        'denotation': {
                                                            'Geographic Area in the south of Europe.'
                                                        }
                                                        'connotation': {
                                                            'the South',
                                                            'conflicted area'
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                'connotation': {
                                    '1990s independence conflicts',
                                    'dissolution of Yugoslavia',
                                    'civil wars',
                                    'UN interventions',
                                    'massacre',
                                    'genocide'
                                    },
                                }
                            }
                        }
                p.
                    It is the final step of a production process, an extension of the wearer’s identity, a mix of representative and conceptual…
                    By now, everything has gained a layered meaning.

                .image-grid
                    each image in imagesSeven
                        div
                            img(src=image)

                p.
                    The message encoded in the badge is historicised. It has changed over time, and will continue to do so. 

                p.
                    Perhaps we can rejoice in the fact that we are looking at this badge at the same time,
                    and might ascribe a similar meaning to it, than with a century of time inbetween us.
                    This meaning might change soon. But for now, we may relax and look at the badge.

                .image--big.image--badge
                    img(src="images/page/badge.jpeg")
  
                hr.footnote-divider
                footer
                    ul.footnotes
                        li
                            <sup id="fn1">1. [Munari, Bruno. The Discovery of the Circle. G. Wittenborn, 1965.] <a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>
                        li
                            <sup id="fn2">2. [Text of footnote 2] <a href="#ref1" title="Jump back to footnote 2 in the text.">↩</a></sup>
                        li
                            <sup id="fn2">3. [Text of footnote 3] <a href="#ref1" title="Jump back to footnote 3 in the text.">↩</a></sup>
                        li
                            <sup id="fn2">4. [Text of footnote 4] <a href="#ref1" title="Jump back to footnote 4 in the text.">↩</a></sup>




